body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-size:cover;
  min-height:80rem;
  background-repeat:no-repeat;

}

.main-container {
  width:600px;
  margin-left:0;
  margin-right:0;
  margin:auto;
  margin-top:10%;
  background-color:rgba(225,225,225, .8);
  min-height:400px;
  padding:20px 40px;
  border-radius:9px;
}

input[type=email]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #330867;
}

.btn {
  background:#330867;
}

.send-message-btn {
  position:absolute;
  bottom:35px;
  right:20px;
}

::-webkit-input-placeholder {
    color: #000;;
     opacity: 1 !important;
}

#add-comments-input {
  margin-bottom:0;
  color:#000;
  opacity:1;

}

#chat-room-name {
  color:#fff;
}

#chatbox {
  width:95%;
  margin:auto;
}

#back {
  position:absolute;
  left:20px;
  top:18px;
  font-size:3.0rem;
}

.btn:hover {
  background:#8839E9;
}

#chatrooms {
  background:transparent;
  width:90%;
}

#chatroom {
  padding-top:0;
  padding-left:0;
  padding-right:0;
  position:relative;
}

.chat-top-bar {
  background:#30cfd0;
  height:80px;
  color:#000;
  padding-top:10px;
  text-align:center;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.chat-container {
  height:400px;
  overflow-y:auto;
  max-width: 100%;
  overflow-x: hidden;
}

.chat-container li {
  margin: 20px 10px;
  padding:10px 10px;
  border:1px solid #330867;
  border-radius:4px;

}

.chat-room li {
  float:left;
  background:rgba(225,225,225, .8);
  padding:10px;
  margin:10px;
  width:23%;
  border-radius:9px;
  min-height:200px;
  position:relative;

}

.overlay {
  height:100%;
  width:100%;
  position:absolute;
  border-radius:9px;
  left:0;
  top:0;
  background:transparent;
  transition: background .3s ease-in!important;
}

.overlay:hover {
  background:#30cfd0;
  color:#000;
}

.overlay h5 {
  color:transparent;
  transition: color .3s ease-in!important;
  z-index:40000;
  padding-top:65px;
  width:100%;
  height:100%;
  position:absolute;
}

.overlay h5:hover {
  color:#000;
}

#chatList {
  text-align:center;
}
