<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chatbox</title>
  </head>
  <body>
    <div class="main-container">
      <h4>Gif Chat</h4>

      <%= link_to "Start Chatting", chats_path %>

    </div>
  </body>
</html>
